/*// Place all the styles related to the Contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

h1 {
	font-family: 'Syncopate', sans-serif;
}

.image {
	width : 300px;
	padding: 2%;
}



.nom {
	font-weight: bold;
	font-size: 30px;
}


/* test */
header{
	background-color: pink;
	padding: 1.5%;
}


/*test 2 */

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	z-index: -1;
}

.loader {
	max-width: 15rem;
	width: 100%;
	height: auto;
	stroke-linecap: round;
	z-index: -1;
}

circle {
	fill: none;
	stroke-width: 3.5;
	animation-name: preloader;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	transform-origin: 170px 170px;
	will-change: transform;

	&:nth-of-type(1) {
		stroke-dasharray: 550px;
	}

	&:nth-of-type(2) {
		stroke-dasharray: 500px;
	}

	&:nth-of-type(3) {
		stroke-dasharray: 450px;
	}

	&:nth-of-type(4) {
		stroke-dasharray: 300px;
	}

	@for $i from 1 through 4 {
		&:nth-of-type(#{$i}) {
			animation-delay: -#{$i * 0.15}s;
		}
	}
}

@keyframes preloader {
	50% {
		transform: rotate(360deg);
	}
}


#fleurlogo {

width: 65px;
position: absolute;
top: 75%; left: 50%;
transform: translate(-50%,-50%);
z-index: 1;

}