/*// Place all the styles related to the Contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

h1 {
	font-family: 'Syncopate', sans-serif;
}

.image {
	width : 300px;
	padding: 2%;
}



.nom {
	font-weight: bold;
	font-size: 30px;
}


/* test */
header{
	background-color: pink;
	padding: 1.5%;
}